@import url('https://fonts.googleapis.com/css2?family=Cairo&family=Roboto:wght@400;500&display=swap');

:root{
    --selected-box: #A8E890;
    --error-box: #E26868;
    --primary: #425F57;
    --secondary: #749F82;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    background-color: black;
}

.container{
    background-color: #efede6;
    width: 70%;
    display: flex;
}

.display{
    position: relative;
}

.logo-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    text-align: center;
    top: 25%;
    background-color: rgba(27, 27, 27, 0.6);
    width: 100%;
    height: 12%;
}

.logo-div img{
    height: 64px;
    width: auto;
}

.logo-div p{
    font-size: 24px;
    color: white;
    padding: 2px;
}

.main{
    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly; */
    gap: 90px;
    font-size: 24px;
    padding: 42px;
}

header{
    margin-top: 80px;
}

#congo{
    color: var(--primary);
    font-weight: 500;
}

#know{
    font-style: italic;
    color: var(--primary);
}

.form-div{
    /* border: 1px solid black; */
    font-family: 'Cairo', sans-serif;
}

.form-div #title{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 24px;
    margin: 0 auto 16px;
}

li{
    list-style-type: none;
    display: flex;
    gap: 72px;
    /* font-size: 18px; */
}

.name-span{
    font-size: 16px;
}

.item{
    display: flex;
    flex-direction: column;
}

