@import url('https://fonts.googleapis.com/css2?family=Cairo&family=Roboto:wght@400;500&display=swap');

:root{
    --selected-box: #A8E890;
    --error-box: #E26868;
    --main: #425F57;
    --secondary: #749F82;
    
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    background-color: black;
}

.container{
    background-color: #efede6;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}